body {
    margin: 0;
    background: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    overflow: hidden;
    cursor: pointer;
    }
nav {
position: sticky;
top: 0;
width: 100%;
background-color: black;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
z-index: 1000;
}
nav .logo {
color: #fff;
margin-left: 30px;
font-size: 24px;
font-weight: bold;
letter-spacing: 2px;
}
nav ul {
display: flex;
list-style: none;
}
nav ul li {
margin-right: 70px;
}
nav ul li a {
color: #fff;
text-decoration: none;
font-size: 18px;
font-weight: 600;
transition: color 0.3s ease;
}
nav ul li a:hover {
color: #ee4f06;
}



.container3 {
    width: 90%;
    max-width: 800px;
    margin: 70px auto;
    padding: 20px;
    background-color: rgb(15, 12, 12);
    border: 1px solid whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-section {
    padding: 10px;
}

.contact-section h2 {
    font-size: 2em;
    color: #b3b3b3;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-form .half-width {
    flex: 1 1 calc(50% -10);
    margin-right: 30px;
    width: 350px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background: black;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    font-size: 1em;
    color: #e1e1e1;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.contact-form textarea {
    resize: vertical;
    height: 100px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #eb711a;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    outline: none;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #f05704;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.contact-form button:hover {
    background-color: #c4330b;
    box-shadow: 0 4px 8px rgba(0, 91, 179, 0.3);
}

@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    .contact-section h2 {
        font-size: 1.5em;
    }

    .contact-form .half-width {
        flex: 1 1 100%;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 0.9em;
    }

    .contact-form button {
        font-size: 0.9em;
    }
}




.icon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }

  .icon-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
  }

  .icon-card a img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
  }
  .icon-card a img:hover {
    transform: scale(1.2);
 }


 .circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
  }

